:host {
  display: block;
  height: 100%;
}

.user {
  display: flex;
  justify-content: center;
  height: 100%;

  & > :first-child,
  & > :last-child {
    flex: 1;
  }

  &__data {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    & > :nth-child(2),
    & > :last-child {
      flex: 1;
    }

    & > :not(:last-child) {
      border-bottom: 1px solid black;
    }
  }

  .devider {
    display: flex;
    justify-content: center;
    width: 20px;

    &__line {
      width: 1px;
      height: 100%;
      border-left: 1px solid black;
    }
  }
}
