:host {
  display: block;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;

  &__navigate-to-main-page-button {
    display: flex;
    justify-content: flex-end;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
  }
}
